<% content_for :p_company do %>
  <%=h @banner.company %>
<% end %>

<% content_for :p_title do %>
  <%=h @banner.title %>
<% end %>

<% content_for :p_body do %>
  <%= @banner.body %>
  <% if @banner.url? %>
    <p>
      <strong>Website URL: </strong><%=h @banner.url %>
    </p>
  <% end %>
<% end %>

<% content_for :p_images do %>
  <div id="banner-image">
  		<% @banner.images.each do |image| %>                                          
  	  	<li id="image_<%= image.id %>" class="position_<%= image.position %>">
  				<%= image_tag url_for_file_column(image, "location", "thumb") %>
  			</li>
  		<% end %>
  </div>
  
<% end %>